/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: teal;
    color: #fff;
}

.nav-links a {
    color: #fff;
}

/* LOGO */
.logo {
    font-size: 32px;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
    background-color: #4c9e9e;
    border-radius: 5px;
    transition: 0.3s ease;
}

.menu li {
    padding: 5px 14px;
}


/* Programacion Partidos seccion */

.container {
    margin: 5px;
    border: 1px solid black;
    background-color: #66bdbd;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 15px 15px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 7%;
    opacity: 0.9;
    margin-left: 500px;
}

.select {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
.form-select {
    display: block;
    width: 100%;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    background-color: #fff;
    background-repeat: no-repeat;
    background-image: url("icono2.png");
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.centrar {
    cursor: pointer;
    max-width: 300px;
    text-align: center;
    color: white;
    padding: 0.2rem;
    margin: 2rem auto;
}
.centrarb {
    cursor: pointer;
    max-width: 300px;
    text-align: center;
    color: white;
    padding: 0.2rem;
    margin: 2rem auto;
}
.align-items-center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

.s1 {
    margin: 30px 100px 30px 100px;

}

/* Tabla de posiciones */

table {
    width: 520px;
    margin: 0 auto;
    color: white;
    border: 1px solid white;
}

tr {
    cursor: pointer;
}

.destacado {
    font-family: Arial;
    font-weight: bold;
}

table tr:nth-child(odd):hover {
    color: black;
}

table tr:nth-child(even):hover {
    color: black;
}